body {
  background-image: url("./Components/bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Times New Roman', Times, serif;
}

.App .login-heading,
.App .signup-heading {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.App .login-form,
.App .signup-form {
  padding: 5% 35% 5% 35%;
}

.App .login-para {
  text-align: center;
}

.App .home {
  padding: 10% 20% 5% 24%;
}